<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>后台设置</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css">
    <link rel="stylesheet" href="/assets/css/global.css">
</head>
<body>
<div class="layui-card">
    <div class="layui-card-header">后台设置</div>
    <div class="layui-card-body">
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">页面常驻</label>
                <div class="layui-input-inline">
                    <input type="checkbox" name="keepAlive" lay-skin="switch" value="1" lay-text="启用|禁用">
                </div>
                <div class="layui-form-mid layui-word-aux">保持标签页面状态，切换时不会被销毁</div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="ConfigFormSubmit">保存并刷新</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/assets/libs/layui/layui.js"></script>
<script>
    layui.config({
        base: '/assets/js/modules/',
        version: true
    }).use('settings/config');
</script>
</body>
</html>